# Using these settings in a monorepo to ensure we have the peer deps
# https://pnpm.io/npmrc#peer-dependency-settings
auto-install-peers=true
# package-import-method=copy
# symlink=false
node-linker=hoisted